<div id="about" class="row">
  <div class="col-md-12 center">
    <span class="title-fname">Nikita</span>
    <img src="https://lh3.googleusercontent.com/ScjfyYy9KBZaP44wenpbJlAz41Q0k7YLDWvWiHfJ9Ugis0Rv7VzXxQIpvST0lrHaO1U5_jXmaYlooVeON_AXWyJsNruj2UzkdDnYRuy6uEOovvQSFCIo2Kiyg2AcsFjVGyh9uk6qpyKfLH1f4ZpIr1oBI7USQle-30pbU7WuzC5Ud46bqhhNhhXapXDg-YJ6UJRcS-pqVZGlbohzWrlQOhHCYWzVOEk1P_nsplRZbnEuIDSG3COaCEdHOLWG_HGHEiXgeJb_5iP_SK_92f4NfnDzzX-j07XqAGWsgX54uyYZHTIWt9BrDVYQvP_LGoK9wwZtp7F8CQCifHTKwLY14ytLXbqQCRQ3LSNdwejEIX10kylQ-v1-bkAUQjKTtwiu4PAHGg_W9WxEzda0a6J0kVBqCjJkwrrXp3rebEyPVDEvn3_erYkR1on_TrFSN0_KMq7l4oRLq7i9Yxoj5pzGfa8X1_uniaHjQlnzfCM4YBg3GQkIm_Jf7Fe6HfmeXASViIhrUW_pV4IDktkg2pAQ60jTDiG2oHjqhWfHFyvz63f_iCiiHMLqV8nMT8KdQCoM2CjLvtiz7dyn3F0Kc1TeZvM1A1zbHX3f_aPzJboVpwj8mOjO=s124-no">
    <span class="title-lname">Buyevich</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12 body">
  <p>Hello! My name is <span class="highlight">Nikita</span> and I am a <span class="highlight">Software Engineer</span>!</p>
  <p>I have <span class="highlight">professional experience</span> working on <span class="highlight">full-stack applications</span>.</p>
  <p>I am <span class="highlight">proﬁcient</span> with programming in <span class="highlight">C#</span>, <span class="highlight">.NET</span>, and <span class="highlight">JavaScript</span>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 center">
    <a target="_blank" href="https://twitter.com/NikitaBuyevich"><img class="social-icons-twitter" src="app/public/images/twitter.svg"></a>
    <a target="_blank" href="https://github.com/nikitabuyevich"><img class="social-icons" src="app/public/images/github.svg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/nikitabuyevich"><img class="social-icons-linkedin" src="app/public/images/linkedin.svg"></a>
  </div>
</div>