<div id="about" class="row">
	<div class="col-md-12 center">
		<span class="title-fname">Nikita</span>
	  <img src="https://lh3.googleusercontent.com/mtGqmGDqT1eRsspVaH5O0vMR0LoNi2G2-FKuL02DQmRwcArUlNDZ4GHqHeY29HQf7CqGiJTOiTbV4uqv4i_NeIIpWE3kPJa_bXu9B2ssxYD4WITbnI_3Hbh16SBAsYkUsuEQEHMq43J7NgbVItt2WWehBXX37FJJR2qypgMJbJkXaZ4oftj4DnBq9uK_ZaF8hbImCmVvl-pUFnoR_av43wlA12jOR0orPdMVT3WR_zybM8ORvO_VogyBZlOlrzUR6s5CYjnxZu6GL2_FlxLwzzpKkvM25L-3723fk9ep5UqzSrvAmx7tXxl5Dzpny5ZRv_tiplkxoozpJZN6lc2jeqIawU99uNOOTJb5qAvaLrkhP09ErRvOPd8EneSslA_SzK240J-ldQ89IHWhtrzkg8GjhagMkiKhsV-zCgP8mVyDUdrzJKNUfPAKxtA2jK66uDLJZdYHppIrxRcTSmBmNZ3KpJyQoTXMEFwL8CDebduMfBtly5JyGQ9dA9BcynfSW4IBBGmghSWjT2Q34LqYsnPTo3S6r4FURFX_uDt4WdkqkWq40VpuG2rQ9sGnj3AVLOKO=s124-no">
	  <span class="title-lname">Buyevich</span>
	</div>
</div>
<div class="row">
  <div class="col-md-12 body">
  <p id="p-end">Hello! My name is <span class="highlight">Nikita</span> and I am a <span class="highlight">Software Engineer</span>!</p>
  <p>I have <span class="highlight">2+ years of experience</span> working on personal</p>
  <p id="p-end">projects in ﬁelds related to <span class="highlight">web</span> and <span class="highlight">game development</span>.</p>
  <p>I am <span class="highlight">proﬁcient</span> with programming in <span class="highlight">JavaScript</span> and <span class="highlight">Java</span>,</p>
  <p>and adept with <span class="highlight">problem solving</span> using computers.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 center">
    <a target="_blank" href="https://twitter.com/NikitaBuyevich"><img class="social-icons-twitter" src="app/public/images/twitter.svg"></a>
    <a target="_blank" href="https://github.com/nikitabuyevich"><img class="social-icons" src="app/public/images/github.svg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/nikitabuyevich"><img class="social-icons-linkedin" src="app/public/images/linkedin.svg"></a>
  </div>
</div>