<div id="about" class="row">
	<div class="col-md-12 center">
		<span class="title-fname">Nikita</span>
	  <img src="app/public/images/avatar.png">
	  <span class="title-lname">Buyevich</span>
	</div>
</div>
<div class="row">
  <div class="col-md-12 body">
  <p>Hello! My name is <span class="highlight">Nikita</span> and I am a <span class="highlight">Full-Stack developer!</span> </p>
  <p>I also <span class="highlight">Freelance</span> and I am the owner of <a target="_blank" href="http://ijust.help/"><span class="link">http://ijust.help</span></a> </p>
  <p>I have a diverse set of skills. From <span class="highlight">Front-End</span> development, doing design </p>
  <p>and <span class="highlight">HTML//CSS//Javascript</span>, to the <span class="highlight">Back-End</span> of working with a <span class="highlight">MEAN stack.</span> </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 center">
    <a target="_blank" href="https://twitter.com/NikitaBuyevich"><img class="social-icons-twitter" src="app/public/images/twitter.svg"></a>
    <a target="_blank" href="https://github.com/nikitabuyevich"><img class="social-icons" src="app/public/images/github.svg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/nikitabuyevich"><img class="social-icons-linkedin" src="app/public/images/linkedin.svg"></a>
  </div>
</div>