@font-face {
    font-family: "Consolas-fnt";
    src: url(../../../assets/fonts/Consolas.ttf) format("truetype");
}

.navbar {
	background: transparent;
	border: none;
	padding: 0px;
}

.margin-collapse {
  margin-right: 20px;
}

.container-fluid {
	padding: 0;
  margin: 0;
}

// style of the navbar text
.navbar-default .navbar-nav > li > a {
	margin-top: 40px;
  padding: 0;
  font-size: 17.331px;
  font-family: "Consolas-fnt", "Consolas", Verdana;
  color: $link-text;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  line-height: 1.2;
  text-align: right;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);

  &:hover {
    text-shadow: 0px 0px 5px rgba(128, 203, 196, 0.5),
    0px 3px 7px rgba(0, 0, 0, 0.4);
    color: $link-text;
  }
}

// The Blog navbar text link stands out
.navbar-default .navbar-nav > .outside-link > a  {
  color: $title-text;

  &:hover {
    color: $title-text;
  }

}

.navbar-default .navbar-nav > li > a {
	margin-right: 15px;
}