// Import variables
@import '../../imports/colors';

@font-face {
    font-family: "Consolas-fnt";
    src: url(../../../assets/fonts/Consolas.ttf) format("truetype");
}

.navbar {
	background: transparent;
	border: none;
	padding: 0px;
}

.container-fluid {
	padding: 0px;
}

// style of the navbar text
.navbar-default .navbar-nav > li > a {
	margin-top: 40px;
  padding: 0;
  font-size: 17.331px;
  font-family: "Consolas-fnt", "Consolas", Verdana;
  color: $link-text;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  line-height: 1.2;
  text-align: right;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 1.0);

  &:hover {
    border-bottom: 1px solid $link-text;
    color: $link-text;
  }
}

// The Blog navbar text link stands out
.navbar-default .navbar-nav > .outside-link > a  {
  color: $title-text;

  &:hover {
    border-bottom: 1px solid $title-text;
    color: $title-text;
  }

}

.navbar-default .navbar-nav > li > a {
	margin-left: 15px;
}