// TEXT COLOR VARIABLES
$link-text: #84aabb;
$title-text: #76c8f8;
$normal-text: #76b9b9;
$highlight-text: #df5172;
$contact-text: #80cbc4;

// BACKGROUND COLOR VARIABLES
$blue-grey-900: #263238;
$blue-grey-800: #37474F;
$blue-grey-600: #546E7A;
$blue-grey-500: #608D8B;
$blue-grey-300: #496967;