.blue-grey-bg {
background: #263238; /* Old browsers */
background: -moz-linear-gradient(top,  #263238 0%, #37474f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #263238 0%,#37474f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #263238 0%,#37474f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#37474f',GradientType=0 ); /* IE6-9 */
}

.light-blue-grey-bg {
background: #42555e; /* Old browsers */
background: -moz-linear-gradient(top,  #42555e 0%, #37474f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #42555e 0%,#37474f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #42555e 0%,#37474f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42555e', endColorstr='#37474f',GradientType=0 ); /* IE6-9 */
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.margin-top {
	margin-top: 20px;
}

.body {
  font-size: 19px;
  font-family: "Consolas", "Consolas-fnt", Verdana;
  color: rgb(118, 185, 185);
  line-height: 2;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  outline: none;
  a {
    transition-duration: 0.25s;
  }
  a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(128, 203, 196, 0.5),
    0px 3px 7px rgba(0, 0, 0, 0.4);
    outline: none;
  }
  a:link {
    outline: none;
    text-decoration: none;  // removes annoying underline after clicking on a link
  }
}

.slide-left-right {
  text-decoration:none;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    border-bottom: 3px solid $highlight-text;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  }

  &:hover:after {
    width: 100%;
    }
} 

.title {
  font-size: 60px;
  font-family:  "Ubuntu Mono", "UbuntuMono-fnt", Verdana;
  color: rgb(118, 200, 248);
  border-bottom: 2px solid $title-text;
  box-shadow: 0px 1px 0px black;
  text-transform: uppercase;
  text-align: center;
	line-height: 1.2;
	letter-spacing: 8px;
  text-shadow: 0px 3px 9.8px rgba(0, 0, 0, 0.4);
  background: #76c8f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #76c8f8 1%, #6eb9e6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76c8f8 1%,#6eb9e6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76c8f8 1%,#6eb9e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c8f8', endColorstr='#6eb9e6',GradientType=0 ); /* IE6-9 */


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  color: $highlight-text;
}

.link {
  color: $link-text;
}

#canvasElement {
  position: absolute;
  margin: 0;
  padding: 0;
}