<div id="projects" class="row margin-top">
	<div class="col-md-12 center">
	  <span class="projects-title">Projects</span>
	</div>
</div>

<div class="row margin-top">
  <div class="col-md-12 body-stretch">
  <p>Here is some of the stuff I've been up to</p>
  </div>
</div>

<div class="projects-container">
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><img id="screenshot" src="https://lh3.googleusercontent.com/d-WJBAtjNTjQEnnyHem6OonFGAW2GPa2ZPfHkkIubD9aj2R9k3dE6Us-WkgHlg-QqY9CcF3E--79rLFxseqA0eLBaT6XSypMLCG6MMHmgwcRLkYDUPnjCQUkD8qVPDExcW3Up_wdfaH_ii4hmwlm_ceb798oGMBbQwUXMo47njXpPhsjYPjqilv_uP9tz1zKwXRT97WUqvlQtsJ8dQ8w8EE1soG8eL0ZOnWNHQAZx0JtBHlu4zW8ZAlyVCFJlPAZX_LY5wT7nlcfQgDvc7ClSqAAzXMPXpzmri0ewiw9Az4VAvxmugo1i5BMLODJZwnb9eP82wQ26WUo3kzvGJxQ8PlHXyp2gbRJPj9E13u7bMuKcmGl-JuV11vBSu2hl9kkw6DEMXMOE5RQaKiihZlRnZhxdJwdxkPYdD2lJOCupNzORdUKJZFHN1ywFRq8sOn7AXeVpW8V33bRajdEGSNmRbpPQ31C5KT4oH81JyNvWt4yjvB2Ga1p0QTkJvojtg3-RP5RBdviYDGjyuO4MYId3n5QEyp1DFfoP1NtMJJWpLGf8evgFvWfwYCKOLhPWqZSSHBl=w294-h80-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><strong class="highlight slide-left-right">Gold Quest</strong></a>
          <p>A young hero in search of the five missing gold treasures.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/DlDBJxONE8AUiy9ShlOxxjQUHPY3HjD6N5YLW4Yp7TxEPVqk9rJZVj_NmQBI_7ggkiCPog-ahJ_itheEhVxOTkCvxNT5W5H7-REINw9M9eZKyouuQ8pXZAfISxse90aeWH1Fapw6_OTGYnG4IS4OjJle0Q9SD4Lvr_l5EuzVg-UWYYPIEaCpQ0vBJac-3zITNGmZZT0hU0ma_YkRHncRs9GwDtTyUwEkutFg5e7NOJq880IQBlQPc0lWlMRmf2PBL9Fjk9P7hA0tR7NXPfKtJcB86CkiZyG8HAvoZUVNL7sDgKHApzt7mKlaR1KjePyI-Z8dQaws9Pd76Jv9UegGTzsGhec7ue2dmRB-mYBls9TgBz4KtofaMarJ5xeKV-GAnddwbiixhyLAJgoUELjTTNMFrtrKaYLj3VcvL2JyLvWkoja409-AmiwCYDVWqUfjkffkERRzwegCwXXgBca7rsyCinr6iyzEr-zUIY4A2gnUnjcwuoMdcTnimIxzzgrOd-2qP1fhlHeoC5LZbuQ_oS4GZFXjsx3zKEJamGzcE653nKk4Dsq2JGjsbJaW9lGThPIY=w200-h100-no">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/Opshun"><img id="screenshot" src="https://lh3.googleusercontent.com/_N-ktUDoZbiI8Yx_W4PZEasnXPrg0bNGFwA45r4bao3rGwg8H5MMF0yHKCVQK7YBehBVFDHRSQAVaLW4oUeSdvaQNirXllCdHGGd8bCCz8gzCFpXDxcToqpZOxbLetOgxni98R07zllUspWRJm2McgW0giBuvduTQf4kGdiykl0aJc4L_LJhq_vdqPM9LVUuLI36iAwMAgpJI-9wc61tLOjlPHnIUDMc3kBE8uea_EZHm91ydJXDYv6cJUrl51sjVaQo5NYHKHRTYiJf0G6sBaR13iwF17gngG550khBJpg77k7PDDzWxvhN-WIpMXgNWOWkgbnznb3t3D4N0PAWZXjhb71GrFoXzf4b8pIyrMx0GCWFixEYfO2km9Yd9mZDw5D12dAWqg31hgzF3bFCL31tOZ7b2ihTwlf9FM4rEu7vvjf3lZHzaEpZZ3zLN27tjBP8GENwWeZegucrHzHDFKCCogezHPqUXW2Gawl_tL6sg6wET7sdyimZwpBAD1Ectg7VJ76OguW7Fx1FAK6AP7PUXKFRs9hZ26PIMue1tLgxRcoCWCWag4_hX7ABY9y4sOKz=w294-h81-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/Opshun"><strong class="highlight slide-left-right">Opshun</strong></a>
          <p>An app that allocates decisions for the user to approve on.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/DxV_iC4lYlj4V9zOnXhpHiofjsu5UxEeRKZEF_gkkcPWDfRpjI1xW08rOzHWrgnnMsJgwk3oM8_M9aFDR29xr96oPfNDRRJN5cbWb7332ziPFZSw37-GP0E_ohdSgtzG5TfWw5MoQGGFVk791SDEGrWo7J3SQcxqWDYXImkl3mAjTYORdnOQhX862pJ3lPjeiYhb3KdE3s59TH1mGQXeGFt3CYGt3GWgcC-YbFFV-LZjT_wcNQ1YlK3zKEARBoT7cPvBbIU2pD0BpYS_uxzqrufTVN6rcAfZOB3IvdxiMaEy65ay0inFgMNzxOAebJeFPqNXBQUV_1OlKYvWV11OmHW2reNIA7BDMptSOYoA7A4aBZvtRGF1zDrBEjp3EXT8uUvyigiu5d7ihhPXwJZl3vWyEziTEN6YF7UgFQD9PJHXjqhhpRWaEhEjFrMLH_9uWakr7hPqlE0IHYsOQmK0tnslfZIsl_OCVn2KJMHmkMSFI61G16TLZej8DkiVWO_LiiT9g_5v-gWbgcrniXhMQUoej80fAi98uxzU39JLIFkX1uhNcAXANXaAjk2oAzyyiMP5=w200-h100-no">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">      
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/ijust.help"><img id="screenshot" src="https://lh3.googleusercontent.com/xOgvniydYOzY4XnuIFZ6f4QD5SjMk6HATM4So0gtdvjmTnlB1OGoOjJ9FNlhSIpo7pUMvVLPEuw75gr1a1EsIHBJz5uCxI8QXHvc1cfI4D2VQq580O_8RT1zagm2I1lsuV-u1D55hTGPJDGdVbInIX2U7SjrwqDaaWpRrNCir6AGwIWV5Wyat_H_dKQUimsZGgWN17ed69AbjxdrWjb2S9BaD1vXYADSXosPebq6qtNdgb58ZM976wTCOY6k1OqRuuTYi9tIOBwUiq6DbB8cuu7UzJxNcLnfohwUNk6DjwgPQkOZlD2e0f2EbzJsUL2aNI5tUne6OsEy7uNwW9GIFycni7mtMH0P8zf-ccPpXmdfxdbDpzc3bVp9-vFN6-7TjZgI8Y8LLS8qohdnCJ2cpvssOxdRm-s48k0B9d8W9pavidzvjWFANk5JD5wzaZ-CQlsK9LdITSa4VIw_QXQ06FlB-3H-3oGB0IXxZeiOdvx-VzcnUUKnqKig3XdeQiLhBBwdYKwmkcu2oMdSzg51R086C8YlCAx0fG221yHK5Z3-BWi5e42UZLwTmAW0-EMBiJnG=w294-h80-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/nikitabuyevich/ijust.help"><strong class="highlight slide-left-right">Practice Forum</strong></a>
          <p>RESTful, AUTH, NodeJS, Express, MongoDB.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/pLByYc7HLVC0iOQRu1SGJz4iFxjQWghqDL3MauilhCPZsCR-9vCITfwnvV1zAuCircXGbs4L5GhI5YPYN_HJwlHXIlN64QDMuVP_Pn0zv-AjhRudeuV0esLn_b8uxqZG7d8fcraP8t_3V8SCcaE8Wy-VWfuXywk5YYtYGgn5SlDhjCCsM-AKKxRPBpNoSaG6mvmE1N_I7Md_z84mbxzlhq0I5xHIMg0kTcWyac1BcV5fbVdEJQrApBsK0R1j8hYd966-Z7BFgjWEVFRGN07FeacVutPXMilndJsDLTd-TdQw1kJ2PyusMEmkqOS3ITuLjr-zT-l3lxQh7dxhp_pUrG7KWIuo_uEQ6p2MRgW6Q5qFwL3sgY6oejntXR6rUqE7CReFaqVZfbXXSGaJbk0CEoXMkICs2Ih0lDsEbDAqixzIcdzw_OW4NTTugR66Lnhx6AzEZecjrmsuAqusWzjxvuwNMn22RZ7ExBHPs1UzEB8zij8y9BGsXViFLuiLRm5FRiDYDK-PuqCof9w9rc3ePGnVoiEAZ7pu0iaVTEWDVtbXRGK8LmUP86SyCuboYe6rARPm=w200-h100-no">
        </div>
      </div>
    </div>   
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/hackillinois-2016"><img id="screenshot" src="https://lh3.googleusercontent.com/T2TxlSpSGawOgXx522E5gLr4EMRorqjmoh0Bd0kLzGcIj9cFlyBDzEe8i5a3y6kedhWvrEOf59JoF7Qko67SUOzapMqlJv_FPZpzUwous_XfKIfWvicd9VuE6o2ypU9SNFkBnG2b5iYVWcBPHVNsoJEMcaYHPNHntNOgqjGtJQG52ul763T5msW476l5YkAsRdqe9J7nqxOOKyleCFg0Gr-aEoZ5_4X59kQl4Ss-juJwoah4DkSDFbS-uxnX7pJtbiWyudsmb9WsR1MEhCBUdIKBEK63UhI_XwQcaoBhTF9TAOKp_K041FMl2ORzlRfraTT1NjSqHglQ-YUyfLcubqYdJKEBm0l10ey4ssym2eb1OanOFhE-L22aWSMnhL2MPbRNwIw9mq2XzjJrhUcCbAolc8pkWN9IzQb8vECJbOW36BNl5fYpFXUmigm3ZbzcYLsF6ygXH1WoQyeJ2Js39jIw_TMM621ntS1m212l6bcb5CosbkWjbrAH1hlxH_pKE45u0LACRv5lf5jxY-NoxOTymr6NavfLgsRmqa70z4jID8IT2aAtP8DU4UZKGuy7-NOl=w294-h80-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/nikitabuyevich/hackillinois-2016"><strong class="highlight slide-left-right">Endless Feast</strong></a>
          <p>A mobile game developed in 36 hours at HackIllinois 2016.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/N3lPWuUumWjRZNfmz5jBB5PutuAkWaWBrSw8i9rkM2WjPeAEARTiJzcDSf_klhnTnVqkIgEA8zofHooNAnztTvqj6WGTlCmDmJCQn-ZH9mIXO3cYpbbC-6Fj4JKLdppsUYBkJ6gbVTkAxp5gjOE0PmuVsGY1PBQ3mRNKg36oorQSV246ZxRrkhhfgQcp7IuuplqQbl0GsPXCTVK4P-uwH28Q56vKPeMnJfu-kJoQC5qMWRRRJkP7NF8cjeZxMLBou8lvsG7TtKYmT3FahjuMk1k2QhFLzlQgRtiJMSAEHrcnWvzZM02SVhQfQDovehhw6oN819vOgXAw6DA4nbfo-qx_GoMw7pYw07vqveUZFGlzfz_p1mYWSC0-zUVfvGKrIrpzsuUxjLu-ifXHtgLWGTozwPwwhNfKiQ5TB6vcs0j48A-DJpMA4PJe65WJvU4vsOHvrKn4dbowotCx3DhwFoOA-NIbSWMUl6ykONuofQ8GQMp5JDL5hU0OKwvdlKQNwX-Fg6b-YmPLTQzxwRb60o2RgWwoqEPZ8jJ7S_ykHdJus7ZzADUSUkOoYc4k6eJUEIbF=w200-h100-no">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Survive-And-Save"><img id="screenshot" src="https://lh3.googleusercontent.com/FTt6Hi_m7xn-S5E9eUGnSojg1kG1cfaMqi2KaVAOjLT42U_rp2ebqGys2Guf4uUVUhCFsHC-3FRUxh8nv6Q2QwKkW7TvYx1pS4B-ZNNPMipQrjYaByCNo9JBifwAYyOqEXRm29r9-WTVR-5MdG7UoEMEdcooh6wKfaAES75BpNpl0sZeIUeOXD-xsTuNAV_V9u-YCjGWt6Yf63pcYnF6Tx5ymNEG13qjgLh2hWYDL4TZcjg6xUDDBnLM963vJ6Eo2ypG74KciVFRsqd44uDg9RY5uLQwXuzVMaK8WWupQcnm47hqWl8zi8Njzwl_Kq4zDf8nLoqUdmURPYsyOe6RdMLebIj6tQ6P_5Xp1yuu3KvEksHOMdnmqkczhD92rHlGCdgLSH5TrP_BbWUsuez2lCOl7n6Zq_uTKMrgqPy2AsMi_mhCwNZmUA6KNuSxdoFAfYwDDOWwv6ekOKd5t7qwvJYGMMPbQuNjUbmoc-fqKbF8kdB438glhNJtbMpJ9O3-zYYeD9jE26lVwNSy9qPKGXAB9rKFu0CuJcCYuviyaOmNo6liobqH9ixwoHi74tnx0QZB=w294-h80-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/nikitabuyevich/Survive-And-Save"><strong class="highlight slide-left-right">Survive and Save</strong></a>
          <p>A fast paced shooter where you try to clear the level ASAP.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/4pESgXxGqJkXif2wgYazbTlAUJS6iXQTQmld6OvzzBquWeuzUouzN5GU5fDtI3qQ07ggqKMnEHwcz-RVLSqH550cjb63QBh5CvUz4lGfzyDqDeEcD75n--Jf5KGWYOe9U0C11LE0U99NZQqNeRdvxY9fnfwWACj0fDgzped6ISn7xifqnLXIEax7nYo4KAWwfDX1nHKptOZja-CvVPGK2b1rps1mBHmQ3DjhI5JZhSOW09wlI_bp3FxYmgpcsGPwWaUdiaRCcqjUmrDYNty8PMj2kjBigCJTDr-zb_CGIXvLtAi854Kvw-w8x9II7Oll1PByC7x6aD9qv_FaUlf6LtAlH2a94dySbek6jOxtWWp_ENpnGkhPuBf-q2BJSjvF8KKfjBkA8LSqLxSUE9UAxFW_SLire-79wjEX1oIZPEZ6HVjZtzp4jb3RZZzRK2u5SpH0s7c0vWB7oiFIW5O4ZtqfYuMZxwniquSbq-EPgsvydBUPo88QsO6nbPhcuyWUd5FRIibQ3YhZF7qwcr-bnWBu051NIJ8uoaZqQD-00PORl3OG3zUo2M7_V-mTEK4QoDQI=w200-h100-no">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">      
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Super-Cave-Boy"><img id="screenshot" src="https://lh3.googleusercontent.com/NTy4l6S85x8-aGzQD_7ys_uAWcJNB82JLyWsE1TNqUv45uYTiRw9cTz0IRT8jU98EVzs0NoDoOR3e5qY3iXwT1InRrsJMzf0xG0a7SiTOLp5jTNYkFMl0-dhSQkPk6QlpBhhWeHc0OJK6YP3HUW7G2E41VCqgEW1ImCE4qrXWA_LTDbqEE0435rJ-xZoPon2-I7zF2R_S9AkVVf5eBsMt79TPx0V_oLVSt9vW0vDRrXF2hgn0aqeFaqRetGY9SaUTlGEcIweU_iH364t954PtOPy-MvlkE_UM4cehNwi8LIIxrak8qSDPrhEHd-5sVA1yM4b2izz2mcK5VHMa3odZkI6VwGyscRPxVdJXPRMAMvq0OiS62x9gSfYQkIe9_VdUn4f7lXRas1bVGAIEKxvfs5Fhcb-Fkm2pwQ8quL6mLhGVKVJaI8yx7f1Fz5OccpSDJnBTWZne3l1UrzXI3IYY6i0CvAy7RdhsBgYRpPAjJtg0s22OyIVIgIHvChSmZTSt9yd0ZuE6NIQeAH40eSH7wStolz5AHevF35ecxXZCDsnRyuFAiZ0G99_gHYcUb74c-VY=w294-h80-no"></a>
          <div class="project-content">
          <a target="_blank" href="https://github.com/nikitabuyevich/Super-Cave-Boy"><strong class="highlight slide-left-right">Super Cave Boy</strong></a>
          <p>A brave explorer looking to find the exit.</p>
          </div>
          </span>
        <div class="img-wrapper">
        <img  src="https://lh3.googleusercontent.com/nZazDmyDD8jpt4o9-2A0KLFe1vSpb3jPjBGXEdRyckQUqzZ_9gYQgyxTNlJm2tVyaVwGns0RoWqc0nh7gTAujpaVpLcMQ8xuKfWOovLnJ8XbuiGHqE1gr1jlfBJ1B1JnRF9zujVOYkbv17YdDMxv4ztac7429BVRjs-lHXo25bg3kajx_AVnLNp33ZIqvynO9iaW8MIYNr3AWS7AnaOq0MKMRKOVRsNFXtcKOoybdB61yiROBEt0W1tg5uVXQcIXjuXgInmj-Y5cetnD7DiWXfwz_osxENhvXlvVztmnrBIPY3BoQ9f58pV_ni1rfNR6Df_3hzHnx9rTN-Gx2kdKFCZdvVbpt5ftbIvDVMZF30lgqZET7dn_h8vaWVYZ7-CjGzQso8TA-7SthVvcZy-2qpAJCroE7VufVpyV5eM3dG7qoRNAYO8_95AGgGuVFgf6xpiuokt0Zwzy13o-lc50uXHZoyPpP7AzaAQdUJpOjXjgQpOhInUOgU2pZymipc9rerqUtGcC46tjXETVXgrP-yPFicyBN1kqOWqcoagRJHKIg7onU6DDCTMfaLXOjVr3KJ09=w200-h100-no">
        </div>
      </div>
    </div>    
  </div>