<div class="row margin-top">
	<div class="col-md-12 center">
	  <span class="title">Projects</span>
	</div>
</div>

<div class="row margin-top">
  <div class="col-md-12 body">
  <p>Here is some of the stuff I've been up to</p>
  </div>
</div>

<div class="projects-container">
  <div class="row">
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><img id="screenshot" src="../../../assets/images/gold-quest-screenshot.png"></a>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><strong class="highlight slide-left-right">Gold Quest</strong></a/>
          <p>A young hero in search of the five missing gold treasures.</p>
          </span>
        <div class="img-wrapper">
        <img  src="../../../assets/images/gold-quest.png">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><img id="screenshot" src="../../../assets/images/gold-quest-screenshot.png"></a>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><strong class="highlight slide-left-right">Gold Quest</strong></a/>
          <p>A young hero in search of the five missing gold treasures.</p>
          </span>
        <div class="img-wrapper">
        <img  src="../../../assets/images/gold-quest.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><img id="screenshot" src="../../../assets/images/gold-quest-screenshot.png"></a>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><strong class="highlight slide-left-right">Gold Quest</strong></a/>
          <p>A young hero in search of the five missing gold treasures.</p>
          </span>
        <div class="img-wrapper">
        <img  src="../../../assets/images/gold-quest.png">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="projects center">
          <span>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><img id="screenshot" src="../../../assets/images/gold-quest-screenshot.png"></a>
          <a target="_blank" href="https://github.com/nikitabuyevich/Gold-Quest"><strong class="highlight slide-left-right">Gold Quest</strong></a/>
          <p>A young hero in search of the five missing gold treasures.</p>
          </span>
        <div class="img-wrapper">
        <img  src="../../../assets/images/gold-quest.png">
        </div>
      </div>
    </div>
  </div>
</div>