.projects {
  border-radius: 15px;
  text-align: center;
  background: $blue-grey-600;
  position: relative;
  z-index: 1;
	padding: 15px;
	max-width: 300px;
	margin-bottom: 50px;
	overflow: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);

	&:hover {
		img {
			opacity: 0;
			transform: scale(10);
			filter: grayscale(0%);			
		}
		span {
			opacity: 1;
			z-index: 1;
		}
	}

	.project-content {
		margin: 5px;
	}

	img {
		position: relative;
		max-width: 100%;
		height: auto !important;
		width: 100%;
		filter: grayscale(100%);
		opacity: 1;
		transform: scale(1);
		transition: all 0.5s ease-in-out;
	}

	span {
		font-family: "Consolas", "Consolas-fnt", Verdana;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
		color: rgb(118, 185, 185);
		font-size: 12px;
		top: 0;
		left: 0px;
		right: 0px;
		position: absolute;
		transition: all 0.5s ease-in-out;
		opacity: 0;

		p {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	strong {
		font-weight: bold;
		font-size: 15px;
	}

	#screenshot {
		opacity: 1;
		transform: scale(1);
	}
}

.projects-container {
	@extend .container;
	max-width: 700px;
}

.body-stretch {
	@extend .body;
	letter-spacing: 4px;
	font-size: 20px;
}





