<div class="row margin-top">
	<div class="col-md-12 center">
	  <span class="title">Projects</span>
	</div>
</div>

<div class="row margin-top">
  <div class="col-md-12 body">
  <p>Here is some of the stuff I've been up to</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="box center">
          <span>
          <strong>Gold Quest</strong>
          <p>A young hero in search of the five missing gold treasures.</p>
          </span>
        <div class="img-wrapper">
        <img  src="../../../assets/images/gold-quest.png">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box center">
        box
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box center">
        box
      </div>
    </div>
    <div class="col-md-6">
      <div class="box center">
        box
      </div>
    </div>
  </div>
</div>