.contact {
  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;


  .title {
    border: none;
    box-shadow: none;
  }

  .contact-text {
    color: $contact-text;
    margin-right: 20px;
  }

  .center {
    padding: 0;
  }

  .slide-left-right {
    &:after {
      border-bottom: 3px solid $contact-text;
    }
  }
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    .contact .title {
          font-size: 1.3em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .contact .title {
          font-size: 1.8em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .contact .title {
          font-size: 2.8em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .contact .title {
          font-size: 3.4em;
    }
}

.svg-container {
  @extend .container;
  max-width: 800px;
  margin-bottom: 30px;

  svg {
    max-width: 12em;
  }
}